{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="head">
        <div class="cinema__image"
             style="background-image: url('{% static cinema.image %}'); height: {{ image_height }}px;
                     width: {{ image_width }}px;"></div>
        <div class="head__right">
            <div class="title">{{ cinema.name }}</div>
            <div class="info">{{ cinema.address }}</div>
            {% if cinema.subway %}
                <div class="info"><i class="fas fa-subway"></i>{{ cinema.subway }}</div>
            {% endif %}
        </div>

    </div>
    <div class="description">
        {% for paragraph in cinema.description %}
            <p>{{ paragraph }}</p>
        {% endfor %}
    </div>
    <ul class="schedule">
        {% for session in cinema.schedule %}
            {% for movie in movies %}
                {% if movie.id == session.film_id %}
                    <li class="session">
                        <a href="/movie/{{ movie.id }}" class="session-link">
                            <div class="film__title">{{ movie.name }}</div>
                            <div class="session__date">{{ session.date }}</div>
                            <div class="session__price">{{ session.price }}</div>
                            <div class="session__format">{{ session.format }}</div>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}