{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form action="/adminpanel/deletemoderator" method="post" class="adminpanel">
        {% csrf_token %}
        <label for="username" class="admin__text_label">Забрать права модератора (username):</label>
        <input type="text" name="username" id="username" class="admin__input">
        {% if input_error %}
            <label class="error">{{ input_error }}</label>
        {% endif %}
        <input class="admin__button" type="submit" value="Забрать права модератора">
    </form>
{% endblock %}