{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form action="/adminpanel/deletecinema" method="post" class="adminpanel">
        {% csrf_token %}
        <label for="id" class="admin__text_label">Удалить кинотеатр (id):</label>
        <input type="text" name="id" id="id" class="admin__input">
        {% if input_error %}
            <label class="error">{{ input_error }}</label>
        {% endif %}
        <input class="admin__button" type="submit" value="Удалить кинотеатр">
    </form>
{% endblock %}